In [60]:
import pandas as pd
import requests
import os
from datetime import datetime, date, timedelta
import matplotlib.pyplot as plt
import yfinance as yf
import numpy as np

# Fred API Calls

In [61]:
FRED_API_KEY = os.environ["FRED_API_KEY"]

In [62]:
def fetch_fred_data(series_id, start_date, end_date, frequency, aggregation_method):
   
    # FRED API URL
    url = f'https://api.stlouisfed.org/fred/series/observations'

    # Parameters for the API request
    params = {
        'series_id': series_id,
        'api_key': FRED_API_KEY,
        'file_type': 'json',
        'frequency': frequency,
        'aggregation_method': aggregation_method,
        'observation_start': start_date,
        'observation_end': end_date,
    }

    # Sending the request to the FRED API
    response = requests.get(url, params=params)
    data = response.json()

    # Check for errors
    if 'observations' not in data:
        print(f"Error fetching data for {series_id}: {data.get('error_message', 'Unknown error')}")
        return pd.DataFrame()

    # Extract observations
    observations = data['observations']
    
    # Convert to DataFrame
    df = pd.DataFrame(observations)
    df['date'] = pd.to_datetime(df['date'])
    df['value'] = pd.to_numeric(df['value'], errors='coerce')  # Convert values to numeric

    # Select relevant columns
    df = df[['date', 'value']]
    
    return df

In [63]:
#Define Date Range
start_date = (date.today() - timedelta(days=10*365.24)).replace(day=1)
end_date = date.today()
print(start_date, end_date)

2014-09-01 2024-09-28

In [64]:
#Fetch Unemployment Rate (UNRATE) data
unemployment_series_id = 'UNRATE' 

# Fetch data
fetched_unemployment_data = fetch_fred_data(unemployment_series_id, start_date, end_date,"m",'avg')

In [65]:
#Fetch Fed Rate (FEDFUNDS) data
fed_series_id = 'FEDFUNDS' 

# Fetch data
fetched_fed_data = fetch_fred_data(fed_series_id, start_date, end_date,"m",'avg')

In [66]:
#Fetch Consumer Price Index for All Urban Consumers: All Items in U.S. City Average (CPIAUSCL) data from 2020-01-01 to 2024-01-01
CPI_series_id = 'CPIAUCSL'

# Fetch data
fetched_cpi_data = fetch_fred_data(CPI_series_id, start_date, end_date,"m",'avg')

In [67]:
#Fetch 3 Month Treasury Bill Rates
threemonth_tbill_series_id = 'TB3MS'

# Fetch data
fetched_threemonth_tbill_data = fetch_fred_data(threemonth_tbill_series_id, start_date, end_date,"m",'avg')

In [68]:
#Fetch 6 Month Treasury Bill Rates
sixmonth_tbill_series_id = 'TB6MS'

# Fetch data
fetched_sixmonth_tbill_data = fetch_fred_data(sixmonth_tbill_series_id, start_date, end_date,"m",'avg')

In [69]:
#Fetch 10 Year Treasury Bill Rates
tenyear_treasury_series_id = 'DGS10'

# Fetch data
fetched_tenyear_treasury_data = fetch_fred_data(tenyear_treasury_series_id, start_date, end_date,"m",'avg')

In [70]:
#Fetch BBB ICE BofA Index Effective Yield
BBB_series_id = 'BAMLC0A4CBBBEY'

# Fetch data
fetched_BBB_data = fetch_fred_data(BBB_series_id, start_date, end_date,"m",'avg')

In [71]:
#Fetch Moody's AAA Corporate Bond Yields
AAA_series_id = 'AAA'

#Fetch data
fetched_AAA_data = fetch_fred_data(AAA_series_id, start_date, end_date,"m",'avg')

In [72]:
#Fetch Moody's BAA Corporate Bond Yields
BAA_series_id = 'BAA'

#Fetch data
fetched_BAA_data = fetch_fred_data(BAA_series_id, start_date, end_date,"m",'avg')

In [73]:
#Fetch SP500 Index
sp500_series_id = 'SP500'

# Fetch data
fetched_sp500_data = fetch_fred_data(sp500_series_id, start_date, end_date,"d",'eop')

In [74]:
#Fetch VIX Data
vix_series_id = 'VIXCLS'

#Fetch historical market data
fetched_vix_data = fetch_fred_data(vix_series_id, start_date, end_date,"d",'eop')

In [75]:
#Fetch GDP Data
gdp_series_id = 'GDP'

#Fetch historical GDP data
fetched_gdp_data = fetch_fred_data(gdp_series_id, start_date, end_date,"q","avg")

In [76]:
#Fetch Initial Jobless Claims Data
initial_claims_series_id = 'ICSA'

#Fetch historical Initial Claims Data
fetched_initial_claims_data = fetch_fred_data(initial_claims_series_id,start_date,end_date,"m","sum")

In [77]:
#Fetch JPY/USD Exchange Rate
jpy_usd_exchange_rate_series_id = 'DEXJPUS'

#Fetch JPY/USD Historical Data
fetched_jpy_usd_exchange_rate_data = fetch_fred_data(jpy_usd_exchange_rate_series_id,start_date,end_date,"m","avg")

In [78]:
#Fetch Non-Farm Payrolls
nonfarm_payroll_series_id = 'PAYEMS'

#Fetch JPY/USD Historical Data
fetched_nonfarm_payroll_data = fetch_fred_data(nonfarm_payroll_series_id,start_date,end_date,"m","avg")

In [79]:
#Fetch Oil Prices
oilprices_series_id = 'WTISPLC'

#Fetch Oil Prices Historical Data
fetched_oilprices_data = fetch_fred_data(oilprices_series_id,start_date,end_date,"m","avg")

In [80]:
#Data Cleaning
unemployment_data = fetched_unemployment_data.set_index('date')
unemployment_data.index = pd.to_datetime(unemployment_data.index)
unemployment_data = unemployment_data.rename(columns={'value': 'Unemployment Rate'})

fed_data = fetched_fed_data.set_index('date')
fed_data.index = pd.to_datetime(fed_data.index)
fed_data = fed_data.rename(columns={'value': 'Fed Rate'})

cpi_data = fetched_cpi_data.set_index('date')
cpi_data.index = pd.to_datetime(cpi_data.index)
cpi_data = cpi_data.rename(columns={'value': 'CPI'})

threemonth_tbill_data = fetched_threemonth_tbill_data.set_index('date')
threemonth_tbill_data.index = pd.to_datetime(threemonth_tbill_data.index)
threemonth_tbill_data = threemonth_tbill_data.rename(columns={'value': 'Three Month T Bill Rate'})

sixmonth_tbill_data = fetched_sixmonth_tbill_data.set_index('date')
sixmonth_tbill_data.index = pd.to_datetime(sixmonth_tbill_data.index)
sixmonth_tbill_data = sixmonth_tbill_data.rename(columns={'value': 'Six Month T Bill Rate'})

tenyear_treasury_data = fetched_tenyear_treasury_data.set_index('date')
tenyear_treasury_data.index = pd.to_datetime(tenyear_treasury_data.index)
tenyear_treasury_data = tenyear_treasury_data.rename(columns={'value': '10-Year Treasury Constant Maturity Rate'})

BBB_data = fetched_BBB_data.set_index('date')
BBB_data.index = pd.to_datetime(BBB_data.index)
BBB_data = BBB_data.rename(columns={'value': 'BBB Rate'})

AAA_data = fetched_AAA_data.set_index('date')
AAA_data.index = pd.to_datetime(AAA_data.index)
AAA_data = AAA_data.rename(columns={'value': 'AAA Rate'})

BAA_data = fetched_BAA_data.set_index('date')
BAA_data.index = pd.to_datetime(BAA_data.index)
BAA_data = BAA_data.rename(columns={'value': 'BAA Rate'})

sp500_data = fetched_sp500_data.set_index('date')
sp500_data.index = pd.to_datetime(sp500_data.index)
sp500_data = sp500_data.rename(columns={'value': 'SP500 Index'})
sp500_data = sp500_data.resample('ME').median()
sp500_data.index = sp500_data.index.to_period('M').to_timestamp()

VIX_data = fetched_vix_data.set_index('date')
VIX_data.index = pd.to_datetime(VIX_data.index)
VIX_data = VIX_data.rename(columns={'value': 'VIX'})
VIX_data = VIX_data.resample('ME').median()
VIX_data.index = VIX_data.index.to_period('M').to_timestamp()

gdp_data = fetched_gdp_data.set_index('date')
gdp_data.index = pd.to_datetime(gdp_data.index)
gdp_data = gdp_data.rename(columns={'value': 'GDP'})
last_gdp_value = gdp_data['GDP'].iloc[-1]
last_gdp_date = gdp_data.index[-1]
new_date_range = pd.date_range(start=last_gdp_date + pd.DateOffset(months = 1), end=end_date + pd.DateOffset(months = 1), freq='ME')
extended_df = pd.DataFrame({'GDP': [last_gdp_value] * len(new_date_range)}, index=new_date_range)
extended_df.index.name = 'date'
gdp_data = gdp_data.resample('ME').ffill()
gdp_data = pd.concat([gdp_data, extended_df])
gdp_data.index = gdp_data.index.to_period('M').to_timestamp()

initial_claims_data = fetched_initial_claims_data.set_index('date')
initial_claims_data.index = pd.to_datetime(initial_claims_data.index)
initial_claims_data = initial_claims_data.rename(columns={'value': 'Initial Claims'})

jpy_usd_exchange_rate_data = fetched_jpy_usd_exchange_rate_data.set_index('date')
jpy_usd_exchange_rate_data.index = pd.to_datetime(jpy_usd_exchange_rate_data.index)
jpy_usd_exchange_rate_data = jpy_usd_exchange_rate_data.rename(columns={'value': 'JPY/USD Spot Rate'})

nonfarm_payroll_data = fetched_nonfarm_payroll_data.set_index('date')
nonfarm_payroll_data.index = pd.to_datetime(nonfarm_payroll_data.index)
nonfarm_payroll_data = nonfarm_payroll_data.rename(columns={'value': 'Total Nonfarm Employees'})

oilprices_data = fetched_oilprices_data.set_index('date')
oilprices_data.index = pd.to_datetime(oilprices_data.index)
oilprices_data = oilprices_data.rename(columns={'value': 'Spot Crude Oil Price'})

In [81]:
# Merge dataframes together one by one
merged_data = pd.merge(unemployment_data, cpi_data, on='date')
merged_data = pd.merge(merged_data, threemonth_tbill_data, on='date')
merged_data = pd.merge(merged_data, sixmonth_tbill_data, on='date')
merged_data = pd.merge(merged_data, tenyear_treasury_data, on='date')
merged_data = pd.merge(merged_data, fed_data, on='date')
merged_data = pd.merge(merged_data, BBB_data, on='date')
merged_data = pd.merge(merged_data, sp500_data, on='date')
merged_data = pd.merge(merged_data, VIX_data, on='date')
merged_data = pd.merge(merged_data, gdp_data, on='date')
merged_data = pd.merge(merged_data, initial_claims_data, on='date')
merged_data = pd.merge(merged_data, jpy_usd_exchange_rate_data, on='date')
merged_data = pd.merge(merged_data, nonfarm_payroll_data, on='date')
merged_data = pd.merge(merged_data, oilprices_data, on='date')
merged_data.index.name = "Date"

In [82]:
merged_data.to_csv("VIX_FRED_data.csv")

In [83]:
merged_data

,Unemployment Rate,CPI,Three Month T Bill Rate,Six Month T Bill Rate,10-Year Treasury Constant Maturity Rate,Fed Rate,BBB Rate,SP500 Index,VIX,GDP,Initial Claims,JPY/USD Spot Rate,Total Nonfarm Employees,Spot Crude Oil Price
Date,,,,,,,,,,,,,,
2014-09-01,5.9,237.477,0.02,0.04,2.53,0.09,3.54,1975.045,12.880,17804.228,1180000,107.43,139564,93.21
2014-10-01,5.7,237.430,0.02,0.05,2.30,0.09,3.50,1946.160,16.530,17912.079,1155000,108.03,139804,84.40
2014-11-01,5.8,236.983,0.02,0.07,2.33,0.09,3.63,2039.820,13.330,17912.079,1458000,116.30,140088,75.79
2014-12-01,5.6,236.252,0.03,0.11,2.21,0.12,3.78,2063.890,15.155,17912.079,1138000,119.32,140366,59.29
2015-01-01,5.7,234.747,0.03,0.08,1.88,0.11,3.64,2024.465,19.455,18063.529,1438000,118.25,140562,47.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-01,3.9,313.207,5.24,5.15,4.54,5.33,5.84,5108.065,15.745,29016.714,841000,153.89,158214,85.35
2024-05-01,4.0,313.225,5.25,5.17,4.48,5.33,5.75,5256.815,12.920,29016.714,892000,155.87,158430,80.02
2024-06-01,4.1,313.049,5.24,5.15,4.31,5.33,5.63,5433.740,12.645,29016.714,1184000,157.86,158548,79.77
2024-07-01,4.3,313.534,5.20,5.01,4.25,5.33,5.53,5550.165,13.190,29016.714,953000,157.52,158637,81.80
2024-08-01,4.2,314.121,5.05,4.74,3.87,5.33,5.20,5548.735,16.690,29016.714,1155000,146.26,158779,76.68

# YFinance API Calls

In [88]:
sp500 = yf.download('^GSPC', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('SP500 ')
nasdaq = yf.download('^IXIC', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('NASDAQ ')
dji = yf.download('^DJI', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('DJI ')
russ2000 = yf.download('^RUT', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('RUSSELL2000 ')
ftse = yf.download('^FTSE', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('FTSE ')
nikkei = yf.download('^N225', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('NIKKEI ')
gold = yf.download('GC=F', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('GOLD ')
usd_index = yf.download('DX-Y.NYB', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('USD_INDEX ')
vxn = yf.download('^VXN', start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'), interval='1mo').add_prefix('VXN ')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [90]:
sp500_volume = sp500.drop(columns=['SP500 Open','SP500 High','SP500 Low','SP500 Close','SP500 Adj Close'])

In [91]:
merged_yf_data = pd.merge(sp500_volume, nasdaq, on='Date')
merged_yf_data = pd.merge(merged_yf_data, dji, on='Date')
merged_yf_data = pd.merge(merged_yf_data, russ2000, on='Date')
merged_yf_data = pd.merge(merged_yf_data, ftse, on='Date')
merged_yf_data = pd.merge(merged_yf_data, nikkei, on='Date')
merged_yf_data = pd.merge(merged_yf_data, gold, on='Date')
merged_yf_data = pd.merge(merged_yf_data, usd_index, on='Date')
merged_yf_data = pd.merge(merged_yf_data, vxn, on='Date')

In [92]:
merged_yf_data

,SP500 Volume,NASDAQ Open,NASDAQ High,NASDAQ Low,NASDAQ Close,NASDAQ Adj Close,NASDAQ Volume,DJI Open,DJI High,DJI Low,...,USD_INDEX Low,USD_INDEX Close,USD_INDEX Adj Close,USD_INDEX Volume,VXN Open,VXN High,VXN Low,VXN Close,VXN Adj Close,VXN Volume
Date,,,,,,,,,,,,,,,,,,,,,
2014-09-01,66706000000,4592.419922,4610.569824,4464.439941,4493.390137,4493.390137,39631130000,17097.419922,17350.640625,16934.429688,...,82.750000,85.940002,85.940002,0,12.710000,19.100000,12.710000,18.260000,18.260000,0
2014-10-01,93714040000,4486.649902,4641.509766,4116.600098,4630.740234,4630.740234,50136190000,17040.460938,17395.539062,15855.120117,...,84.470001,86.879997,86.879997,0,18.260000,31.170000,15.310000,15.810000,15.810000,0
2014-11-01,63600190000,4633.709961,4810.859863,4594.919922,4791.629883,4791.629883,32967990000,17390.900391,17894.830078,17278.359375,...,86.879997,88.360001,88.360001,0,15.740000,17.180000,13.480000,14.740000,14.740000,0
2014-12-01,80743820000,4777.729980,4814.950195,4547.310059,4736.049805,4736.049805,39587090000,17827.269531,18103.449219,17067.589844,...,87.629997,90.269997,90.269997,0,14.740000,24.080000,14.300000,19.639999,19.639999,0
2015-01-01,77330040000,4760.240234,4777.009766,4563.109863,4635.240234,4635.240234,38719030000,17823.070312,17951.779297,17136.300781,...,90.330002,94.800003,94.800003,23290000,19.730000,23.700001,16.389999,21.590000,21.590000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-01,81747170000,16397.050781,16490.650391,15222.780273,15657.820312,15657.820312,107535290000,39807.929688,39815.000000,37611.558594,...,103.879997,106.220001,106.220001,0,17.590000,23.340000,16.340000,18.430000,18.430000,0
2024-05-01,86849720000,15646.089844,17032.660156,15557.639648,16735.019531,16735.019531,140039820000,37845.558594,40077.398438,37780.539062,...,104.080002,104.669998,104.669998,0,20.150000,20.230000,14.670000,16.700001,16.700001,0
2024-06-01,76025620000,16865.699219,18035.000000,16646.429688,17732.599609,17732.599609,107772060000,38709.988281,39571.230469,38247.218750,...,103.989998,105.870003,105.870003,0,16.830000,17.980000,6.480000,16.240000,16.240000,0
2024-07-01,80160390000,17773.900391,18671.070312,17015.380859,17599.400391,17599.400391,119005630000,39186.199219,41376.000000,39037.941406,...,103.650002,104.099998,104.099998,0,16.959999,24.709999,15.880000,22.290001,22.290001,0
2024-08-01,81097300000,17647.029297,18017.689453,15708.540039,17713.619141,17713.619141,121239310000,40916.960938,41585.210938,38499.269531,...,100.510002,101.699997,101.699997,0,22.290001,40.119999,19.240000,19.290001,19.290001,0